body {
  background-color: #FBCF1A;
  color: #232323;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

/* NavBar */

nav {
  background-color: #FBCF1A;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.logo a {
  font-style: italic;
  color: #232323;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 7px;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: -2px;
}

.logo:hover a {
  color: blue;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 340px;
  margin-bottom: 0;
  margin-top: 0;
}

.nav-links li {
  text-align: center;
}

.nav-links a {
  color: #232323;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1em;
}

/* new code */
.bottom-menu {
  display: none;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-links-bottom {
  background-color: #FBCF1A;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-links-bottom li {
  text-align: center;
}

.nav-links-bottom a {
  color: #232323;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1em;
}

.nav-links-bottom a:hover {
  color: #1616dd;
}


/* end new code */

.burger {
  display: none;
}

.nav-links a:hover {
  transition-duration: .5s;
  color: blue;
  padding-bottom: 5px;
  border-bottom: 3px dotted #232323;
}

.burger div {
  width: 24px;
  height: 3px;
  background-color: #232323;
  margin: 4px;
}

/* Container */

.container {
  margin: 150px 10% 0 10%;
}

.about-container {
  display: flex;
}

.name-info h1 {
  font-size: 3em;
  letter-spacing: .1em;
}

.about-info {
  margin-bottom: 35px;
}

.about-info p {
  font-size: 1.3em;
  line-height: .5em;
  letter-spacing: .1em;
}

.bio p {
  font-size: 1.1em;
  padding-right: 100px;
}

.contact-info {
  display: flex;
  padding-top: 25px;
}

.contact-info p {
  padding-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-info a {
  text-decoration: none;
  color: #232323;
}

.fas, .fab {
  padding-right: 10px;
  color: #171717;
}

.fas:hover {
  color: #1616dd;
}

.contact-info i:hover, 
.contact-info a:hover {
  color: #1616dd;
}

.profile-pic {
  width: 400px;
  height: auto;
  border: 7px solid whitesmoke;
  border-radius: 50%;
}

.profile-pic:hover {
  transform: rotate(-5deg) scale(1.1);
  transition-duration: 1s;
}

.second-color {
  color:#d80505;
}

.third-color {
  color: #1616dd;
}

/* Page Break */

.chevron a {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
  padding-top: 80px;
  padding-bottom: 40px;
}

.chevron i:hover {
  transition-duration: .5s;
  color: #1616dd;
}

/* Projects */
.projects-container {
  background-color: whitesmoke;
  padding: 0 10% 0 10%;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  border-top: #232323 dotted 7px;
}

.card {
  background-color: whitesmoke;
  border: none;
  margin: 20px;
  width: 28%;
}

.card img {
  width: 100%;
  height: auto;
  border: #232323 solid 2px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 1.3em;
  letter-spacing: .1em;
}

.card p {
  padding: 0 10px 0 10px;
}

.card a {
  color: red;
  text-decoration: none;
}

.card a:hover {
  color: blue;
}

/* Resume */

.container-two {
  margin: 0 10% 0 10%;
}

.resume {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.res-pdf {
  font-size: 1.7em; 
}

.res-pdf a{
  text-decoration: none;
  color: #d80505;
}

.res-pdf i {
  color: #d80505;
}

.res-pdf a:hover {
  color: #1616dd;
}

.res-img {
  padding-top: 30px;
  border-top: #232323 dotted 7px;
}

.res-img img {
  width: 100%;
  border: solid 3px #232323;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.main-footer p {
  padding-top: 15px;
  border-top: dotted 4px #232323;
}

/* MEDIA Queries */

@media (max-width: 500px) {
  
  /* .burger {
    display: inline;
  } */

  .nav-links {
    display: none;
  }

  .bottom-menu {
    display: inline;
  }

  .container {
    margin-top: 80px;
    text-align: center;
  }

  .about-info p {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .bio p {
    padding-right: 0;
  }
  .profile-pic {
    display: none;
  }

  .contact-info {
    display: flex;
    justify-content: center;
  }

  .contact-info p {
    display: none;
  }

  .card {
    width: 100%;
  }

  .main-footer {
    text-align: center;
  }

}

@media (max-width: 1375px) {
  .contact-info p {
    display: none;
  }
}

@media (max-width: 1200px) {
  .profile-pic {
    width: 250px;
    border: whitesmoke 3px solid;
  }

  .contact-info p {
    display: none;
  }

  .card {
    width: 40%;
  }
}

@media (max-width: 990px) {
  .profile-pic {
    display: none;
  }
}

@media (max-width: 750px) {
  .card {
    width: 100%;
  }
}

/* @media (max-width: 750px) {
  .profile-pic {
    display: none;
  }

  .contact-info {
    display: flex;
    justify-content: center;
  }

  .contact-info p {
    display: none;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 40%;
  }
} */